<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="isLoggedIn; else noAccess">
    <ion-list>
      <ion-item *ngFor="let curso of cursos">
        <ion-label>
          <h2>{{ curso.nombre }}</h2>
          <p>{{ curso.descripcion }}</p>
          <div *ngIf="esRoot; else userNota">
            <ion-list>
              <ion-item *ngFor="let usuario of curso.usuarios">
                <ion-label>
                  <h3>{{ usuario.nombre }}</h3>
                  <p>Nota: {{ usuario.nota }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
          <ng-template #userNota>
            <p>Tu nota: {{ curso.nota }}</p>
          </ng-template>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #noAccess>
    <ion-item>
      <ion-label>No tienes permiso para acceder a esta página. Por favor, inicia sesión.</ion-label>
    </ion-item>
  </ng-template>

</ion-content>
