<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <form (ngSubmit)="enlazarUsuarioCurso()">
    <ion-item>
      <ion-label position="floating">Nombre alumno:</ion-label>
      <ion-input [(ngModel)]="nombreAlumno" name="nombreAlumno" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre curso:</ion-label>
      <ion-select-option *ngFor="let curso of cursos">
        {{ curso.nombre }}
      </ion-select-option>
    </ion-item>

    <div class="button-container">
      <ion-button expand="full" type="submit">ENVIAR</ion-button>
    </div>
  </form>
</ion-content>
